* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Primary */
  --red: hsl(4, 100%, 67%);
  /* Neutral */
  --blue-800: hsl(234, 29%, 20%);
  --blue-700: hsl(235, 18%, 26%);
  --grey: hsl(0, 0%, 58%);
  --white: hsl(0, 0%, 100%);
}
html {
  font-size: 62.5%;
  font-family: "Roboto", "sans-serif";
  color: var(--blue-800);
  background-color: var(--blue-800);
  /* - Weights: 400, 700 */
}
body {
  font-size: 1.6rem;
}
.outside-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: var(--white);
  width: 60vw;
  border-radius: 2rem;
  padding: 1.5rem;
  display: flex;
}
.info-section {
  flex: 1;
  min-width: 0;
  padding: 5rem 4rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
}
h1 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 6rem;
}
p {
  padding: 2rem 0rem;
}
li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0.5rem 0rem;
}
.list-img {
  padding-right: 0.5rem;
}
.container-img {
  flex: 1;
  /* setting width to maximum available space of FLEXBOX CONTAINER */
  min-width: 0;
}
.hidden {
  display: none;
}
.attribution {
  font-size: 11px;
  text-align: center;
  bottom: 0;
  position: fixed;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/*
- Font size (paragraph): 16px

Your users should be able to:

- Add their email and submit the form
- See a success message with their email after successfully submitting the form
- See form validation messages if:
  - The field is left empty
  - The email address is not formatted correctly
- View the optimal layout for the interface depending on their device's screen size
- See hover and focus states for all interactive elements on the page
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */
